<header class="header">
    <div class="navbar">
        <div class="flex-item home-button">
            <a  class="nav-button" href="{{ '/' | relative_url }}">BareCore*</a>
        </div>

        <div class="flex-item about-button">
            <a class="nav-button" href="{{ '/' | relative_url }}">About</a>
        </div>

        <div class="flex-item gallery-button">
            <a class="nav-button" href="{{ '/' | relative_url }}">Gallery</a>
        </div>
        
        <div class="flex-item git-button">
            <a class="nav-button" href="https://www.github.com/barecore" target="_blank">Github</a>
        </div>
   
    </div>
</header>
