

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-size: 100%;
    font-family: "Inter", serif;
}

/* div {
    border: 1px solid rgb(239, 125, 125);
    
}  */

html {
    background-color: #EBE7E2;



/* ESTILO DO HEADER - NAVBAR  */



.header {
    display:block;
    position: fixed;
    width: 31rem;
    height:3.3rem;
    top: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    overflow: hidden;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:100%;
    width: 100%;
    border-radius: 0.75rem;
    background-color: #241f21;
    overflow: hidden;
}

.flex-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.6em 1em 0.6em 1em;
    height: 100%;
    overflow: hidden;
    background-color: #241f21;
}

.nav-button {
    margin: 0;
    text-decoration: none;
    color: #EBE7E2;
    font-size: 1.3rem;
    font-weight: 500;
}

.nav-button:visited {
    text-decoration: none;
}

.nav-button:hover {
    cursor: pointer;
    opacity: .75
}








/* ESTILO DO CORPO - HOMEPAGE  */



.home {
    width: 100%;
    height: 100%;
}

.posts {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 10% 25% 10% 25%;
}

.post-row {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 1rem; 
    padding-bottom: 1.2rem;
    padding-top: 1.2rem;
    border-bottom: 1px solid #241f21;
}

.post-title{
   grid-column: 1 / 6;
   grid-row: 1 / -1;
   overflow: hidden;
   height:100%;
   margin: 0;
}

.post-date{
    grid-column: 6 / -1;
    grid-row: 1 / -1;
    height: 100%;
    overflow: hidden;
    font-size: 1rem;
    font-weight: 500;
    text-align: right;
    line-height: 2rem;
 }


 .post-link{
    text-decoration: none;
    color: #241f21;
    font-size: 1.5rem;
    font-weight: 500;
 }

 .post-link:visited{
    text-decoration: none;
 }

 .post-link:hover{
    cursor: pointer;
    opacity: .5
 }



 /* ESTILO DO POST*/

 .post-page{
    margin: 10% 25% 10% 25%;
 }

 .post-title2 {
    font-size: 3.5rem;
    font-weight: 700;
    text-align: left;
    margin-bottom: 1.8rem;
 }

 .reading-time{
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
 }

 .post-text{
    margin-top: 2.3rem;
 }

 .post-text > * {
    font-family: "Libre Baskerville", serif;
    font-size: 1.2rem;
    line-height: 1.6;
 }



  /* PARA CELULAR */

  @media (min-width: 320px) and (max-width: 480px) {
    .header {
        display:block;
        position: fixed;
        width: 16rem;
        height:2.8rem;
        top: 1.5rem;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
        overflow: hidden;
    }

    .navbar {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height:100%;
        width: 100%;
        border-radius: 0.75rem;
        background-color: #241f21;
        overflow: hidden;
    }

    .flex-item {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.6em 1em 0.6em 1em;
        height: 100%;
        overflow: hidden;
        background-color: #241f21;
    }
    
    .nav-button {
        margin: 0;
        text-decoration: none;
        color: #EBE7E2;
        font-size: 0.5rem;
        font-weight: 600;
    }
    

    .posts {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        margin: 25% 10% 10% 10%;
    }
    
    .post-row {
        display: grid;
        align-items: center;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(3, 1fr);
        column-gap: 0.5rem; 
        padding-bottom: 0.4rem;
        padding-top: 0.4rem;
        border-bottom: 1px solid #241f21;
    }
    
    .post-title{
       grid-column: 1 / 6;
       grid-row: 1 / -1;
       overflow: hidden;
       height:100%;
       margin: 0;
    }
    
    .post-date{
        grid-column: 6 / -1;
        grid-row: 1 / -1;
        height: 100%;
        overflow: hidden;
        font-size: 0.5rem;
        font-weight: 500;
        text-align: right;
        line-height: 1.8rem;
     }
    
    
     .post-link{
        text-decoration: none;
        color: #241f21;
        font-size: 0.75rem;
        font-weight: 500;
        line-height: 1.8rem;
     }


     .post-page{
        margin: 25% 10% 10% 10%;
     }
    
     .post-title2 {
        font-size: 2rem;
        font-weight: 700;
        text-align: left;
        margin-bottom: 0.9rem;
        line-height: 0.95;
     }
    
     .reading-time{
        font-size: 0.625rem;
        font-weight: 400;
        text-align: left;
     }
    
     .post-text{
        margin-top: 2rem;
     }
    
     .post-text > * {
        font-family: "Libre Baskerville", serif;
        font-size: 0.8rem;
        line-height: 1.5;
     }
}
