/* Importando a fonte JetBrains Mono */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

body {
    margin: 0;
    font-family: 'JetBrains Mono', monospace;
    background-color: #f4f4f4;
    color: #000;
}
.footer {
    position: fixed;
    display: table-row;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    border-top: 1px solid #000;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 10px;
  }

.post{
    display: grid;
    justify-content: center;
    padding-top: 40px;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
}

.citation{
    font-style: italic;
    font-size: 10px;
}

.border-style-2{
    display: row;
    width: 100%;
    border-collapse: collapse;     /* Center the text */ 
}

.site-name{
    display: table-cell;
    font-size: 40px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
    font-weight: 800;
    vertical-align: middle;
    border-right: 1px solid #000000;
}

.header-row{
    display: table-row;
    width: 100%;
    border-bottom: 1px solid #000;
}

.button-wrapper{
    display: table-cell;
    width: 100%;
    padding-left: 20px;
}

.link-home{
    text-decoration: none;
    color: #000;
    font-weight: regular;
    transition: text-decoration 0.3s ease;
}

.yellow-button{
    margin: 20px;
    border: 1px solid #000000;
    background-color: #f6b91f;
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    text-decoration: none;
    padding: 5px 15px;
    font-size: 14px;
    line-height: 1;
    height: auto;
    cursor: pointer;
    transition: background-color 0.3s ease;
    vertical-align: middle;
}

.blue-button{
    margin: 20px;
    border: 1px solid #000000;
    background-color: #0c80ed;
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    text-decoration: none;
    padding: 5px 15px;
    font-size: 14px;
    line-height: 1;
    height: auto;
    cursor: pointer;
    transition: background-color 0.3s ease;
    vertical-align: middle;
}


.posts-section, .visual-arts-section {
    margin: 20px;
    padding: 10px;
    max-width: 800px; /* Tornando as seções compactas */
}

.section-title {
    display: table;
    width: auto;
    border: 1px solid #000000;
    padding: 10px;
    font-size: 20px;
    font-weight: regular;
    margin-bottom: 10px;
}

.posts-table {
    display: table;
    width: 100%;
    border-collapse: collapse;
}

.post-header-row {
    display: table-row;
    font-weight: bold;
    border: 1px solid #000;
}

.post-header-cell-1 {
    display: table-cell;
    padding: 10px;
    text-align: left; /* Alinhando títulos ao centro */
}


.post-row {
    display: table-row;
    border: 1px solid #000; /* Linhas delimitadas entre os posts */
}

.post-date, .post-title, .post-action {
    display: table-cell;
    padding: 10px;
    vertical-align: middle;
}

.post-date {
    text-align: left;
}

.post-title {
    text-align: left;
}

.post-title a {
    text-decoration: none;
    color: #000;
    font-weight: regular;
    transition: text-decoration 0.3s ease;
}

.post-title a:hover {
    text-decoration: underline; /* Sublinhado sutil ao passar o mouse */
}

.post-action {
    text-align: right;
}

.green-button {
    border: 1px solid #000000;
    background-color: #008000;
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    text-decoration: none;
    padding: 5px 15px;
    font-size: 14px;
    line-height: 1;
    height: auto;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.green-button:hover {
    background-color: #006400; /* Mais escuro ao passar o mouse */
}

.yellow-button:hover {
    background-color: #d6a21d; /* Mais escuro ao passar o mouse */
}

.blue-button:hover {
    background-color: #0a66bc; /* Mais escuro ao passar o mouse */
}

.green-button span {
    display: inline-block;
    line-height: 1;
}

.archive-section {
    margin: 20px;
    padding: 10px;
    max-width: 800px; 
}

.archive-row {
    display: table-row;
    border: 1px solid #000;
}

.archive-text, .archive-action {
    display: table-cell;
    padding: 10px;
    vertical-align: middle;
}

.archive-text {
    text-align: left;
}

.archive-action {
    text-align: right;
}
